parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Call to an undefined method [a-zA-Z0-9\\_]+::getAttributes\(\)#'
            path: %currentWorkingDirectory%/src/Extractor/AttributesExtractor.php
        -
            message: '#Call to an undefined method [a-zA-Z0-9\\_]+::getParsedBody\(\)#'
            path: %currentWorkingDirectory%/src/Extractor/ParsedBodyExtractor.php
        -
            message: '#Call to an undefined method [a-zA-Z0-9\\_]+::getQueryParams\(\)#'
            path: %currentWorkingDirectory%/src/Extractor/QueryParamsExtractor.php
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon